*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navegation{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #313131;
    margin-bottom: 0;
}

.Navbar .escola{
    margin-right: 400px;
    padding: 0 !important;
    cursor: pointer;
}

#logo-nav-home{
    max-width: 20% !important;
    margin: 8px 0 !important;
    padding: 0 !important;
}

.Navbar .usuario{
    margin-right: 50px;
    cursor: pointer;
}

.Navbar h1{
    text-align: left;
    margin: 0;
    padding: 0 0 0 10px;    
}

.Navbar .btn-logout{
    margin-right: 10px;
    color: var(--preto);
    border-radius: 8px;
    border: 2px solid var(--preto);
    background-color: var(--branco);
    transition: 1s;
}

.Navbar .btn-logout:hover{
    transform: translateY(0px);
    border-radius: 0px;
}